<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Collatz Web Service</display-name>
	<servlet>
		<servlet-name>collatz</servlet-name>
		<servlet-class>net.luminis.research.collatz.web.CollatzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>collatz</servlet-name>
		<url-pattern>/collatz</url-pattern>
	</servlet-mapping>
</web-app>